.x_axis, .x_axis a:hover, .x_axis a:focus
{
    background-color: #BD3213;
}

.y_axis
{
    background-color: #4D9632;
} 

.z_axis
{
    background-color: #2175aa;
}

.horizon
{
    background-color: #8C568B;
}
.pp
{
    background-color: #E07C09;
}
 
.origin
{
    background-color: #736F6B;
}

.axis-button 
{
    padding: 0;
}

i
{
    font-size: 100%;
}

h2
{
    border-bottom: 1px solid #C5BAB4;
    /*color: #4F4037;*/
}


#footer
{
    background-color: #444444;
    padding: 2%;
}

.label
{
    border-radius: 3px;
}

#canvas_container
{
    text-align: left;
    position: relative; 
    width: 100%; 
    height: 100%;
}

#canvas_image 
{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #222222; 
    border-radius: 3px;
}

#canvas_overlay 
{
    position: absolute; 
    width: 100%; 
    height: 100%;
    
}