$primary-color: #FF8908;

body
{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

#content
{
    min-width: 768px;
}

#image-canvas-container
{
    position:relative;
}

#image-canvas
{
    width: 100%;
    background-color: #222222;
}

#image-canvas-overlay
{
    position:absolute;
    background-color: #ff0000;
    
}

.button
{
    background-color: $primary-color;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    margin: 1px;
}

.axis-select-button a
{
    display: inline-block;
    width: 16%;
}

.axis-select-button span
{
    background-color: red;
    
}

.button:hover
{
    background-color: $primary-color * 0.8;
}

.button-selected
{
    background-color: $primary-color * 0.8;
}

.axis-bg-x
{
    border: 1px solid #FF1F00;
    background-color: transparentize(#FF1F00, 0.6);
}

.axis-bg-y
{
    background-color: #39A32A;
}

.axis-bg-z
{
    background-color: #2B70D6;
}

.panel
{
    width: 32%;
    display: inline-block;
}

.section
{
    margin-left: 2%;
    margin-right: 2%;
}



#header
{
    h1
    {
        font-size: 70px;
        margin: 0px;
    }
    
    p
    {
        opacity: 0.3;
        margin: 0px;
    }
    
    color: #ffffff;
    background-color: $primary-color;
}

.section-header
{
    border-bottom: 1px #e0e0e0 solid;
}