body {
  margin: 0;
  padding: 0;
  user-select: none;
}

textarea, body, button {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #333333;
}

textarea {

  width: 100%;
  height: 80px;
  resize: none;
  border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.button {
  width: 100%;
  height: 25px;
  background-color: #e0e0e0;
  outline: none;
  border: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#left-panel {
  flex: 0 0 250px;
  max-width: 250px;
}

#panel-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#panel-top-container {
  flex-grow: 1;
  overflow-y: auto;
}

#center-panel {
  color: #909090;
  background-color: #222222;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

#right-panel {
  flex: 0 0 250px;
  max-width: 250px;
}

#image-panel img {
  width: 100%;
  height: 100vh;
  object-fit: contain
}

.side-panel {
  background-color: #f5f5f5;
}

.panel-section {
  padding: 10px;
}

.panel-row {
  height: 20px;
  line-height: 20px;
}

.bottom-border {
  border-bottom: 1px solid #e0e0e0;
}

.top-border {
  border-top: 1px solid #e0e0e0;
}


/* react-select overrides */
.Select-control {
  height: 20px;
  border-radius: 0;
  border: 0;
}

.Select-control .Select-placeholder {
    line-height: 20px;
  }

  .Select-control .Select-value {
    line-height: 20px !important;
    padding-left: 5px;
  }

  .Select-control .Select-value .Select-value-label {
      line-height: 20px;

  }

  .Select-control .Select-input {
    height: 20px;
  }

  .Select-menu-outer {
    border: 0;
    border-radius: 0;
  }

  .Select-menu .Select-option {
    padding: 5px;
  }

  .Select-control:hover {
    box-shadow: 0;
  }

  .Select.is-open > .Select-Control {
    border: 0px;
    border-color: none;
  }